<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <title>Reservar Turno</title>
    <link th:href="@{/css/app.8a0fb062.css}" rel="preload" as="style" />
    <link th:href="@{/css/chunk-vendors.8d43aebb.css}" rel="preload" as="style" />
    <link th:href="@{/js/app.76df645b.js}" rel="preload" as="script" />
    <link th:href="@{/js/chunk-vendors.55fee3e9.js}" rel="preload" as="script" />
    <link th:href="@{/css/chunk-vendors.8d43aebb.css}" rel="stylesheet" />
    <link th:href="@{/css/app.8a0fb062.css}" rel="stylesheet" />
  </head>
  <body>
    <noscript
      ><strong
        >We're sorry but recurso-tecnologico-front doesn't work properly without
        JavaScript enabled. Please enable it to continue.</strong
      ></noscript
    >
    <header class="hero is-link">
      <div class="hero-body"><h2 class="title">Reservas de Turno</h2></div>
    </header>
    <div id="app"></div>
    <script th:src="@{/js/chunk-vendors.55fee3e9.js}"></script>
    <script th:src="@{/js/app.76df645b.js}"></script>
  </body>
</html>
